[Unit]
Description=Actual Budget Daemon
After=syslog.target network.target
[Service]
Type=simple
WorkingDirectory=/opt/actualbudget
ExecStart=yarn start
TimeoutStopSec=20
KillMode=process
Restart=on-failure
[Install]
WantedBy=multi-user.target
