{
    "paperless": {
        "apiPrefix": "http://paperless-app.internal.freddrake.com:8000/api",
        "username": "{{ secret.services.paperless.user }}",
        "password": "{{ secret.services.paperless.password }}"
    }
}
