[program:web-service]
directory={{ root_scanner_dir }}/node
command=npm run web
autostart=true
autorestart=true
user={{ ansible_user }}

[program:directory-watcher]
directory={{ root_scanner_dir }}/node
command=npm run watch
autostart=true
autorestart=true
user={{ ansible_user }}
