{
    "Preset": [
        {
            "0": [
                {
                    "AFMMode": {
                        "int": 1
                    },
                    "AFMTimeout": {
                        "int": 180
                    },
                    "AddPages": {
                        "int": 0
                    },
                    "AutoSize": {
                        "int": 1
                    },
                    "BackgroundColor": {
                        "int": 1
                    },
                    "BackgroundRemoval": {
                        "int": 0
                    },
                    "BlankPageSkip": {
                        "int": 0
                    },
                    "BlankPageSkipLevel": {
                        "int": 10
                    },
                    "Brightness": {
                        "int": 0
                    },
                    "ColorType": {
                        "int": 0
                    },
                    "Contrast": {
                        "int": 0
                    },
                    "DNShow_LongPaperWarning_dialog": {
                        "int": 0
                    },
                    "DNShow_PlasticCard_dialog": {
                        "int": 0
                    },
                    "DoubleFeedDetection": {
                        "int": 1
                    },
                    "DoubleFeedDetectionAreaLength": {
                        "int": 1550
                    },
                    "DoubleFeedDetectionAreaMin": {
                        "int": 0
                    },
                    "DoubleFeedDetectionLevel": {
                        "int": 0
                    },
                    "DropoutColor": {
                        "int": 0
                    },
                    "DuplexType": {
                        "int": 1
                    },
                    "FileNameCounter": {
                        "int": 1
                    },
                    "FileNameOverWrite": {
                        "int": 1
                    },
                    "FileNamePrefix": {
                        "string": "img"
                    },
                    "FixedDocumentSize": {
                        "int": 0
                    },
                    "Folder": {
                        "int": 101
                    },
                    "FunctionalUnit": {
                        "int": 1
                    },
                    "FunctionalUnit_Auto": {
                        "int": 0
                    },
                    "Gamma": {
                        "int": 22
                    },
                    "ImageFormat": {
                        "int": 6
                    },
                    "ImageOption": {
                        "int": 0
                    },
                    "JpegQuality": {
                        "int": 85
                    },
                    "JpegQualityForJpeg": {
                        "int": 85
                    },
                    "JpegQualityForPdf": {
                        "int": 85
                    },
                    "MultiTiffCompression": {
                        "int": 0
                    },
                    "MultiTiffEnabled": {
                        "int": 0
                    },
                    "NearDurationAlert": {
                        "int": 0
                    },
                    "Orientation": {
                        "int": 0
                    },
                    "OverDurationAlert": {
                        "int": 0
                    },
                    "PDFAllPages": {
                        "int": 1
                    },
                    "PDFSelectPage": {
                        "int": 1
                    },
                    "PagesTobeScanned": {
                        "int": 0
                    },
                    "PaperDeskew": {
                        "int": 1
                    },
                    "PaperEndDetection": {
                        "int": 0
                    },
                    "PaperEndDetectionMemory": {
                        "int": 0
                    },
                    "Resolution": {
                        "int": 600
                    },
                    "ScanAreaHeight": {
                        "int": 7015
                    },
                    "ScanAreaOffsetX": {
                        "int": 0
                    },
                    "ScanAreaOffsetY": {
                        "int": 0
                    },
                    "ScanAreaWidth": {
                        "int": 4960
                    },
                    "Threshold": {
                        "int": 110
                    },
                    "TransferCompression": {
                        "int": 1
                    },
                    "UserDefinePath": {
                        "string": "{{ root_scanner_dir }}/watch"
                    },
                    "UserScanAreaHeight": {
                        "int": 0
                    },
                    "UserScanAreaWidth": {
                        "int": 0
                    },
                    "jpegProgressive": {
                        "int": 0
                    }
                }
            ]
        }
    ]
}