#shellcheck disable=SC2148,SC2155
use flake .
layout python3
source_env "~/.bws.env"
export SOPS_AGE_KEY_FILE=~/.age/ansible-key.txt
export KUBECONFIG=$(expand_path ./kubeconfig)
export ANSIBLE_CONFIG=$(expand_path ./ansible/ansible.cfg)
export TF_VAR_BWS_TOKEN=$BWS_ACCESS_TOKEN
source_env "~/.llm_api_keys.env"
source_env "~/.config/aider/aider_default.env"
