#shellcheck disable=SC2148,SC2155
layout_python3
use flake .
source_env "~/.bws.env"
export SOPS_AGE_KEY_FILE=~/.age/ansible-key.txt
export KUBECONFIG=$(expand_path ./kubeconfig)
export ANSIBLE_CONFIG=$(expand_path ./ansible/ansible.cfg)
