#shellcheck disable=SC2148,SC2155
export KUBECONFIG=$(expand_path ./kubeconfig)
export ANSIBLE_VAULT_PASSWORD_FILE=$(expand_path ./ansible/.vault_pass)
export ANSIBLE_CONFIG=$(expand_path ./ansible/ansible.cfg)
