[/Script/Pal.PalGameWorldSettings]
OptionSettings=(BuildObjectDeteriorationDamageRate=0.000000,DeathPenalty=None,bEnableInvaderEnemy=False,BaseCampWorkerMaxNum=20,PalEggDefaultHatchingTime=0.000000,ServerName="Fred's Palworld Server",ServerDescription="",AdminPassword="{{ api_password }}",RCONEnabled=True,RCONPort=25575,bUseAuth=True,RESTAPIEnabled=True,RESTAPIPort=8212,bIsUseBackupSaveData=False)
