network:
  ethernets:
    {{ interface_208 }}:
      critical: true
      dhcp-identifier: mac
      dhcp4: true
      nameservers:
        addresses:
        - 192.168.40.4
        - 192.168.40.6
        search:
        - internal.freddrake.com.
  vlans:
    {{ interface_50 }}:
      id: 50
      link: {{ interface_208 }}
      addresses:
        - {{ address_50 }}/24
  version: 2
