# my global config
global:
  scrape_interval: 60s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  scrape_timeout: 20s

# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: "prometheus"

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node"
    static_configs:
      - targets:
            - node-exporter-nuc9.{{ secret.domain }}:9100
            - node-exporter-nuc8.{{ secret.domain }}:9100
            - specops.{{ secret.domain }}:9100
            - larussa.{{ secret.domain }}:9100
            - gateway-50.{{ secret.domain }}:9100
  
  - job_name: "swarm"
    static_configs:
      - targets:
{% for h in groups['swarm_cluster'] %}
        - {{ h }}.{{ secret.domain }}:9100
{% endfor %}

  - job_name: "nvidia"
    static_configs:
      - targets:  
            - larussa.{{ secret.domain }}:9202

  - job_name: "pihole"
    scheme: https
    static_configs:
      - targets:  
            - pihole-exporter-pihole1.{{ secret.domain }}
            - pihole-exporter-pihole2.{{ secret.domain }}

  - job_name: "hass"
    scrape_interval: 60s
    metrics_path: /api/prometheus

    # Long-Lived Access Token
    authorization:
      credentials: "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJiOTc4MzNhMjM4ZDY0NTY0YmRkNGUxNzEyOTNkYjc0NSIsImlhdCI6MTYzNDcwMjM5NywiZXhwIjoxOTUwMDYyMzk3fQ.NFL61f35QY9KpdWoOCcQDSPb6ktKHrzjay5Ks1yH_20"

    scheme: https
    static_configs:
      - targets: ['homeassistant.{{ secret.domain }}:443']