subnet {{ dhcp_nets[item.subnet_id].subnet }} netmask {{ dhcp_nets[item.subnet_id].netmask }} {
    option routers {{ dhcp_nets[item.subnet_id].router }};
    option subnet-mask {{ dhcp_nets[item.subnet_id].netmask }};
    option domain-name "{{ domain_name }}";
    option domain-search "{{ domain_name }}";
    option domain-name-servers {{ dhcp_nets[item.subnet_id].dns1 }}, {{ dhcp_nets[item.subnet_id].dns2 }};
    pool {
        deny dynamic bootp clients;
        failover peer "dhcp-failover";
        default-lease-time 14400;
        range {{ dhcp_nets[item.subnet_id].range_start }} {{ dhcp_nets[item.subnet_id].range_end }};
    }
{% for h in reservation_results.reservations[item.subnet_id] %}

    host {{ h.hostname }} {
        hardware ethernet {{ h.mac_address }};
        fixed-address {{ h.ip_address }};
    }
{% endfor %}
}
