ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country=US

network={
        scan_ssid=1
        ssid="{{ secret.wireless.iot.ssid }}"
        psk="{{ secret.wireless.iot.password }}"
        proto=RSN
        key_mgmt=WPA-PSK
        pairwise=CCMP
        auth_alg=OPEN
}
