http:
  routers:
{% for p in proxies %}
    {{ p.name }}:
      entryPoints:
        - https
      rule: "Host(`{{ p.name }}.{{ secret.domain }}`)"
      middlewares:
        - default-headers
      tls: {}
      service: {{ p.name }}
{% endfor %}
#    bitwarden:
#      entryPoints:
#        - https
#      rule: "Host(`bitwarden.{{ secret.domain }}`)"
#      middlewares:
#        - default-headers
#      tls: {}
#      service: bitwarden
#    gitea:
#      entryPoints:
#        - https
#      rule: "Host(`gitea.{{ secret.domain }}`)"
#      middlewares:
#        - default-headers
#      tls: {}
#      service: gitea
#    minio-loki-ui:
#      entryPoints:
#        - https
#      rule: "Host(`minio-loki-ui.{{ secret.domain }}`)"
#      middlewares:
#        - default-headers
#      tls: {}
#      service: minio-loki-ui
  services:
{% for p in proxies %}
    {{ p.name }}:
      loadBalancer:
        servers:
          - url: "{{ p.url }}"
        passHostHeader: true
{% endfor %}
#    gitea:
#      loadBalancer:
#        servers:
#          - url: "http://{{ secret.services.gitea.ip }}:3000"
#        passHostHeader: true
#    minio-loki-ui:
#      loadBalancer:
#        servers:
#          - url: "http://{{ secret.services.minio_loki.ip }}:9001"
#        passHostHeader: true

  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https

    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https

    default-whitelist:
      ipWhiteList:
        sourceRange:
          - "10.0.0.0/8"
          - "192.168.0.0/16"
          - "172.16.0.0/12"

    secured:
      chain:
        middlewares:
          - default-whitelist
          - default-headers
