{% for c in secret.volsync_secrets.volumeClaims %} 
- name: {{ c.name }}-restic
  namespace: {{ c.namespace }}
  content:
    RESTIC_REPOSITORY: rest:{{ secret.volsync_secrets.restic_repo_url }}/{{ c.namespace }}-{{ c.name }}
    RESTIC_PASSWORD: {{ secret.volsync_secrets.restic_password }}
{%- endfor %}
