{% for c in secret.volsync_secrets.volumeClaims %} 
- name: {{ c.name }}-restic
  namespace: {{ c.namespace }}
  content:
    RESTIC_REPOSITORY: s3:{{ secret.volsync_secrets.restic_repo_url }}/{{ c.namespace }}-{{ c.name }}
    RESTIC_PASSWORD: {{ secret.volsync_secrets.restic_password }}
    AWS_ACCESS_KEY_ID: {{ secret.volsync_secrets.awsAccessKeyID }}
    AWS_SECRET_ACCESS_KEY: {{ secret.volsync_secrets.awsSecretAccessKey }}
{%- endfor %}
