kind: Secret
apiVersion: v1
metadata:
  name: "{{ secr.name }}"
  namespace: "{{ secr.namespace }}"
data:
  {% for key, value in secr.content.items() -%}
  {{ key }}: "{{ value | b64encode }}"
  {% endfor %}
