kind: Secret
apiVersion: v1
metadata:
  name: "{{ secr.name }}"
{% if secr.scope is not defined %}
  namespace: "{{ secr.namespace }}"
{% endif -%}
data:
{% for key, value in secr.content.items() %}
  {{ key }}: "{{ value | b64encode }}"
{% endfor -%}
