subnet {{ secret.dhcp.nets[item.subnet_id].subnet }} netmask {{ secret.dhcp.nets[item.subnet_id].netmask }} {
    option routers {{ secret.dhcp.nets[item.subnet_id].router }};
    option subnet-mask {{ secret.dhcp.nets[item.subnet_id].netmask }};
    option domain-name "{{ secret.domain }}";
    option domain-search "{{ secret.domain }}";
    option domain-name-servers {{ secret.dhcp.nets[item.subnet_id].dns1 }}, {{ secret.dhcp.nets[item.subnet_id].dns2 }};
    pool {
        deny dynamic bootp clients;
        failover peer "dhcp-failover";
        default-lease-time 14400;
        range {{ secret.dhcp.nets[item.subnet_id].range_start }} {{ secret.dhcp.nets[item.subnet_id].range_end }};
    }
{% for h in reservation_results.reservations[item.subnet_id] %}

    host {{ h.hostname }} {
        hardware ethernet {{ h.mac_address }};
        fixed-address {{ h.ip_address }};
    }
{% endfor %}
}
