subnet {{ t.value.subnet }} netmask {{ t.value.netmask }} {
    option routers {{ t.value.router }};
    option subnet-mask {{ t.value.netmask }};
    option domain-name "{{ secret.domain }}";
    option domain-search "{{ secret.domain }}";
    option domain-name-servers {{ t.value.dns1 }}, {{ t.value.dns2 }};
    default-lease-time 7200;
    max-lease-time 7200;
    next-server 192.168.50.15;
    filename "netboot.xyz.kpxe";
    pool {
        deny dynamic bootp clients;
        failover peer "dhcp-failover";
        default-lease-time 14400;
        range {{ t.value.range_start }} {{ t.value.range_end }};
    }
{% for h in reservation_results.reservations[t.key] %}

    host {{ h.hostname }} {
        hardware ethernet {{ h.mac_address }};
        fixed-address {{ h.ip_address }};
    }
{% endfor %}
}
