#
# Secondary DHCP Server Configuration
#
authoritative;
ddns-update-style none;
failover peer "dhcp-failover" {
    secondary;
    address {{ secret.dhcp.machines[dhcp_id].address }};
    port 647;
    peer address {{ secret.dhcp.machines[dhcp_id].peer_address }};
    peer port 647;
    max-response-delay 30;
    max-unacked-updates 10;
    load balance max seconds 3;
}

{% for t in secret.dhcp.nets | dict2items %}

{% include 'dhcp_subnet.j2' %}

{% endfor %}