server {

    server_name {{ app_name }} {{ app_name}}.{{ secret.domain }};

    location / {
        proxy_pass {{ proxy_url }};
        include proxy_params;
    }

    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_name}}.{{ secret.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_name}}.{{ secret.domain }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    if ($host = {{ app_name}}.{{ secret.domain }}) {
        return 301 https://$host$request_uri;
    }


    listen 80;
    listen [::]:80;

    server_name {{ app_name }} {{ app_name}}.{{ secret.domain }};
    return 404;
}
