server {

    server_name {{ app_name }} {{ app_name}}.{{ secret.domain }};

    location / {
        proxy_pass {{ proxy_url }};
        proxy_set_header Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

{{ additional_root_location_params | default('') }}
    }

    listen [::]:443 ssl ipv6only=on;
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ app_name}}.{{ secret.domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ app_name}}.{{ secret.domain }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

{{ additional_server_params | default('') }}
}

server {
    if ($host = {{ app_name}}.{{ secret.domain }}) {
        return 301 https://$host$request_uri;
    }


    listen 80;
    listen [::]:80;

    server_name {{ app_name }} {{ app_name}}.{{ secret.domain }};
    return 404;
}
